.vscode
extension
node_modules
obj
src
.editorconfig
.gitattributes
.gitignore
.prettierignore
.vscodeignore
index.html
dist/webview/*.html
pnpm-lock.yaml
*.esproj
tsconfig.json
tsconfig.extension.json
tsconfig.webview.json
*.config.mts
*.config.mjs
